.wordle-letter {

  padding: 1em;
  min-width: 1em;
  display: inline-block;
  height: 1em;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;

  &.bad-letter {
    background-color: #b61818;
    color: white;
  }

  &.bad-placed-letter {
    background-color: #e3cd0d;
    color: white;
  }

  &.good-letter {
    background-color: #11b257;
    color: white;
  }
}
